HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Node.js (Angular)
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.angular/


# Compiled TypeScript
*.tsbuildinfo

# Angular specific
*.d.ts
*.js
*.js.map
*.map
*.ngsummary.json
*.ngfactory.ts
*.ngstyle.ts
*.sass.js
*.scss.js
# Generated Angular CLI files
coverage/
.idea/
.eslintcache

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db